body{
  background-image: url("https://cdn.dribbble.com/users/43762/screenshots/1398115/media/9bbff4b122a252b243e4b13628f942cd.gif");
  /* background-image: url("https://i.pinimg.com/originals/5f/55/11/5f55113929c643f388eaf017157f98e9.gif"); */
  background-size:cover;
  background-repeat:no-repeat;
  margin-bottom: auto;
}